
body {
  width: 100vw;
  min-width: 360px;
  background: linear-gradient(#979797, rgb(44, 44, 44));
  overflow: scroll;
  padding: 0;
  margin: 0;
  display: flex;
  justify-content: center;
}
html::-webkit-scrollbar {
  display: none;
  }
*{
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}